<!DOCTYPE html>
<html>
    <head>
        <title>ADOJFRAS Statistics</title>
    </head>

    <body>
        <header><a href="/">Home</a></header>
        <h1>ADOJFRAS Statistics</h1>
        <br />
        <p>Term 1 Week 8</p>
        <table border="2px solid rgb(0, 0, 0)">
            <tbody>
                <tr>
                    <th align="center"><strong>TIME</strong></th> <!-- I know this is going to get criticised for bad practise -->
                    <th align="center"><strong>"AW" COUNT</strong></th>
                    <th align="center"><strong>"FAR OUT" COUNT</strong></th>
                    <th align="center"><strong>TOTAL</strong></th>
                    
                    <th align="center"><strong>ALL TIME RUNNING TOTAL</strong></th>
                    <th align="center"><strong>ALL TIME RUNNING AVERAGE</strong></th>
                </tr>
                <tr>
                    <th>Monday 18/3/2024</th>
                    <th>312</th>
                    <th>128</th>
                    <th>440</th>

                    <th>440</th>
                    <th>440</th>
                </tr>
                <tr>
                    <th>Tuesday 19/3/2024</th>
                    <th>335</th>
                    <th>142</th>
                    <th>477</th>

                    <th>917</th>
                    <th>458<sup>1</sup>&frasl;<sub>2</sub></th>
                </tr>
                <tr>
                    <th>Wednesday 20/3/2024</th>
                    <th>267</th>
                    <th>142</th>
                    <th>409</th>

                    <th>1326</th>
                    <th>442</th>
                </tr>
                <tr>
                    <th>Thursday 21/3/2024</th>
                    <th>309</th>
                    <th>154</th>
                    <th>463</th>

                    <th>1789</th>
                    <th>447<sup>1</sup>&frasl;<sub>4</sub></th>
                </tr>
                <tr>
                    <th>Friday 22/3/2024</th>
                    <th>465</th>
                    <th>219</th>
                    <th>684</th>

                    <th>2473</th>
                    <th>494<sup>3</sup>&frasl;<sub>5</sub></th>
                </tr>
            </tbody>
        </table>
        <br />
        <p>Term 1 Week 9</p>
        <table border="2px solid rgb(0, 0, 0)">
            <tbody>
                <tr>
                    <th align="center"><strong>TIME</strong></th>
                    <th align="center"><strong>"AW" COUNT</strong></th>
                    <th align="center"><strong>"FAR OUT" COUNT</strong></th>
                    <th align="center"><strong>TOTAL</strong></th>
                    
                    <th align="center"><strong>ALL TIME RUNNING TOTAL</strong></th>
                    <th align="center"><strong>ALL TIME RUNNING AVERAGE</strong></th>
                </tr>
                <tr>
                    <th>Monday 25/3/2024</th>
                    <th>458</th>
                    <th>244</th>
                    <th>702</th>

                    <th>3175</th>
                    <th>529<sup>1</sup>&frasl;<sub>2</sub></th>
                </tr>
                <tr>
                    <th>Tuesday 26/3/2024</th>
                    <th>PENDING</th>
                    <th>PENDING</th>
                    <th>PENDING</th>

                    <th>PENDING</th>
                    <th>PENDING</th>
                </tr>
                <tr>
                    <th>Wednesday 27/3/2024</th>
                    <th>PENDING</th>
                    <th>PENDING</th>
                    <th>PENDING</th>

                    <th>PENDING</th>
                    <th>PENDING</th>
                </tr>
            </tbody>
        </table>
    </body>
</html>