<!DOCTYPE html>
<body>
    <header><a href="/">Home</a></header>
    <h1>THIS MAY BE COMPLETELY IRRELEVENT IF YOU DO NOT UNDERSTAND THE MEANING OF "JUSTIN FISH"</h1>
    <p>You have been warned. Scroll to continue.</p>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <h1>ADOJFRAS</h1>
    <p>ADOJFRAS, standing for Australasian Department Of Justin Fish Reporting And Statistics, is the 
        singular provider of peculiar behaviour of Justin Fish.</p>
</body>