<!DOCTYPE html>
<body>
    <header><a href="/">Home</a></header>
    <h1>ADOJFRAS</h1>
    <p>ADOJFRAS, standing for Australasian Department Of Justin Fish Reporting And Statistics, is the 
        singular provider of peculiar behaviour of Justin Fish.</p>
</body>