<!DOCTYPE html>
<html>
	<head>
		<title>ADOJFRAS Portal Page</title>
		<link rel="icon" type="image/x-icon" href="/StatisticIcon.jpg" />
	</head>

	<body>
		<h1>THIS MAY BE COMPLETELY IRRELEVENT IF YOU DO NOT UNDERSTAND THE MEANING OF "JUSTIN FISH"</h1>
    	<p>You have been warned. Scroll to continue.</p>
    	<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
		<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
		<br /><br />
		<h1>ADOJFRAS &#x03b2; indev</h1>
		<a href="/about/">About</a>
		<br />
		<a href="/statistics">Statistics</a>
	</body>
</html>
