<!DOCTYPE html>
<html>
    <body>
        <header><a href="/">Home</a></header>
        <h1>ADOJFRAS Statistics</h1>
        <table border="2px solid rgb(0, 0, 0)">
            <tbody>
                <tr>
                    <th align="center"><strong>TIME</strong></th> <!-- I know this is going to get criticised for bad practise -->
                    <th align="center"><strong>"AW" COUNT</strong></th>
                    <th align="center"><strong>"FAR OUT" COUNT</strong></th>
                    <th align="center"><strong>TOTAL</strong></th>
                </tr>
                <tr>
                    <th>Monday 18/3/2024</th>
                    <th>312</th>
                    <th>128</th>
                    <th>440</th>
                </tr>
                <tr>
                    <th>Tuesday 19/3/2024</th>
                    <th>335</th>
                    <th>142</th>
                    <th>477</th>
                </tr>
                <tr>
                    <th>Wednesday 20/3/2024</th>
                    <th>PENDING</th>
                    <th>PENDING</th>
                    <th>PENDING</th>
                </tr>
                <tr>
                    <th>Thursday 21/3/2024</th>
                    <th>PENDING</th>
                    <th>PENDING</th>
                    <th>PENDING</th>
                </tr>
                <tr>
                    <th>Friday 22/3/2024</th>
                    <th>PENDING</th>
                    <th>PENDING</th>
                    <th>PENDING</th>
                </tr>
            </tbody>
        </table>
    </body>
</html>